# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @connor4312 @rzhao271 @roblourens

# Owners for specific directories
/src/js/   @amunger
/src/css/  @sbatten